body {
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(245, 239, 238);
}
.App {
  text-align: center;
}

h1 {
  color: rgb(19, 77, 100);
  font-size: 80px;
  margin: 38px auto 25px auto;
  font-family: "Parisienne", cursive;
}

footer {
  font-size: 17px;
  margin: 10px auto 25px auto;
}

a {
  text-decoration: none;
  color: rgb(19, 77, 100);
  font-weight: 600;
  font-family: "Parisienne", cursive;
  font-size: 22px;
}
