.Synonyms {
  color: rgb(19, 77, 100);
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-size: 23px;
  margin: 0 auto;
  text-align: center;
}

.Synonyms li {
  display: inline-block;
  text-align: center;
  margin: 3px 10px 10px 3px;
  padding: 0;
}

ul {
  padding-left: 0;
}
