.Synonyms {
  color: rgb(19, 77, 100);
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-size: 21px;
  margin: 0 auto;
}

.Synonyms li {
  display: inline-block;
  text-align: center;
  margin: 10px 10px 8px 10px;
  padding: 0;
}
